:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.page-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.content-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 16px;
  max-width: 1200px;
  width: 100%;
}

.card {
  background-color: #333;
  padding: 16px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

.card-image {
  width: 100%;
  /* height: 150px; */
  background-color: #444;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  margin-bottom: 10px;
}

.card-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.card-location {
  color: #bbb;
}

.card-rating {
  display: flex;
  align-items: center;
  justify-content: center;
}

.restaurant-card-rating {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 20px;
}

.rating-text {
  margin-right: 8px;
  font-weight: bold;
}

.star-rating {
  display: flex;
}

.star {
  font-size: 24px;
  margin: 0 2px;
}

.star.full {
  color: gold;
}

.star.empty {
  color: lightgray;
}

.search-bar-container {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 100vw;
  margin: 0;
  position: relative;
  height: fit-content;
  background-color: rgb(46, 46, 46);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.6);
}

.search-box {
  width: 40vw;
  position: relative;
}

.search-input {
  flex: 0 1 400px; 
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
  width: 100%;
}

.review-card {
  background-color: #333;
  padding: 10px;
  padding-top: 1px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

.button-container {
  display: flex;
  justify-content: flex-end;
  width: auto;
}

.button {
  height: 40px;
  background-color: #007BFF;
  padding: 0 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  line-height: 1;
  margin-top: -1px;
}

.navbar-button {
  height: 40px;
  background-color: #007BFF;
  padding: 0 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  line-height: 1;
  margin-top: -1px;
  margin-right: 5%;
  position: absolute;
  right: 0;
}

.result-list {
  z-index: 1;
  position: absolute;
  margin-top: 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
  /*box-shadow: 0 0 8px #ddd;*/
  border-radius: 10px;
  width: 100%;
}

.suggest-text {
  color: black;
  padding: 10px;
  border-radius: 10px;
}

.suggest-text:hover {
  color: black;
  background-color: #efefef;
}

.review-page-container {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

.button:hover {
  background-color: #0056b3;
}

.button:active {
  background-color: #004080;
}

.button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.logo {
  height: 90px;
  margin-right: 15px;
  margin-left: 5%;
  cursor: pointer;
}

.restaurant-page-main-container {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.restaurant-image-container {
  margin-top: 20px;
  padding: 20px;
  background-color: #333;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.6);
}

.image-gallery {
  width: 100%;
  height: auto;
}

.image-gallery-slide {
  background: #000;
  img {
    width: auto;
    height: 400px;
  }
}

/*Restaurant page css*/

.restaurant-page-container {
  margin-top: 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 60%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  /*background-color: #333;*/
  text-align: center;
  /*box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);*/
}

.restaurant-info-container {
  width: 300px;
  margin-right: 10px;
}

.restaurant-name-card {
  position: relative;
  padding: 10px 20px;
  background-color: #333;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  display: flex;
}

.restaurant-page-title {
  margin-top: -2px;
  margin-bottom: 5px;
  text-align: left;
}

.restaurant-page-location {
  text-align: left;
  margin: 5px;
}

.restaurant-page-main-section {
  display: flex;
}

.restaurant-page-category-box {
  margin-top: 20px;
  padding: 20px;
  background-color: #333;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  height: fit-content;
}

.restaurant-page-category-header {
  margin-top: -5px;
  justify-content: left;
  text-align: left;
  width: 100%;
}

.restaurant-page-category-body {
  display: flex;
}
.restaurant-page-category-item {
  justify-content: left;
  text-align: left;
  margin-left: 10px;
  padding: 2px 10px;
  border-radius: 8px;
  background: rgba(266, 266, 266, 0.1);
}
/*.restaurant-page-map-section {*/
/*  margin-top: 20px;*/
/*  background-color: #333;*/
/*  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.6);*/
/*  border-radius: 10px;*/
/*  width: 300px;*/
/*  margin-right: 10px;*/
/*  height: fit-content;*/
/*}*/
.restaurant-page-review-header {
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 10px;
  text-align: left;
  justify-content: left;
  font-weight: bold;
  font-size: 25px;
}
/*.restaurant-page-review-section {*/
/*  width: 800px;*/
/*  margin-left: 5px;*/
/*}*/

.card-container {
  padding: 2px;
  display: flex;
  width: 100%;
  height: 300px;
  background-color: #333;
  margin-bottom: 20px;
  border-radius: 10px;
}

.review-image {
  width: 40%;
  margin-right: 7%;
  object-fit: cover;
  border-radius: 10px;
}

.review-card-header {
  width: 100%;
  margin-top: 20px;
  display: flex;
}

.review-card-name {
  font-size: 20px;
  font-weight: bold;
}

.review-card-star {
  display: flex;
}

.review-card-star-number {
  margin-left: 10px;
  margin-top: 3px;
  font-size: 20px;
  font-weight: 500;
}

.review-card-dot {
  margin-left: 10px;
  margin-top: 4px;
}

.restaurant-page-price {
  margin-top: 2px;
  justify-content: right;
  text-align: right;
  margin-right: 10%;
  margin-left: auto;
  font-size: 18px;
  font-weight: 500;
}

.review-info {
  position: relative;
  width: 100%;
}

.reviewer-name {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 10px;
  margin-right: 10%;
}

.review-comment {
  text-align: left;
  max-width: 95%;
  display: -webkit-box;
  -webkit-line-clamp: 7; /* Limit to 3 lines */
  -webkit-box-orient: vertical;
  overflow: hidden; /* Hide extra lines */
}

.map-container {
  height: 150px;  /* Adjust as needed */
  width: 100%; /* Ensure it takes full width */
  position: relative; /* Keep positioning stable */
}


.restaurant-page-map-container {
  margin-top: 20px;
  background-color: #333;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  padding-top: 5px;
  padding-bottom: 5px;

}
.restaurant-page-map-header {
  justify-content: left;
  text-align: left;
  width: 100%;
  font-size: 25px;
  font-weight: bold;
  margin-left: 5%;
  margin-bottom: 5px;
}
.map-address {
  margin-top: 5px;
  padding: 20px;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 20px;
}
.google-map-button {
  padding: 10px 15px;
  background: #3e85bb;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 17px;
  margin-top: 12px;
  margin-bottom: 10px;
}
@media only screen and (min-width: 601px) {
  .restaurant-page-container {
    width: 90%;
  }
}

.card-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
